In [1]:
import pandas as pd
import datetime
from pathlib import Path

In [2]:
print('Start Time:' + str(datetime.datetime.now().strftime("%I:%M %p")))

Start Time:10:10 PM

In [3]:
directory = Path.cwd()

In [4]:
directory

WindowsPath("C:/Users/Brian/Andy's Python Learning Files")

In [5]:
teams = directory / 'Box_Office.xlsx'

In [6]:
teams

WindowsPath("C:/Users/Brian/Andy's Python Learning Files/Box_Office.xlsx")

In [7]:
#Box_Office = pd.read_excel(r"C:/Users/Brian/Pratice on Class 4/Box_Office.xlsx")
Box_Office = pd.read_excel(teams)

In [8]:
Box_Office.head(2)

,Rank,LW,Release,Gross,%± LW,Theaters,Change,Average,Total Gross,Weeks,Distributor,New This Week,Estimated,Datestamp
0,1,-,Bad Boys: Ride or Die,"$56,527,324",-,3885,-,"$14,550","$56,527,324",1,Sony Pictures Releasing,True,False,2024-06-11 19:30:08.962
1,2,1,The Garfield Movie,"$10,003,554",-28.6%,3959,-149,"$2,526","$68,616,391",3,Sony Pictures Releasing,False,False,2024-06-11 19:30:08.962

In [9]:
'''Box_Office.drop(columns="Estimated")
Box_Office.drop_duplicates()
Box_Office.info()
Box_Office.shape
Box_Office["Change"].str.strip("-")
Box_Office["%± LW"] = df["%± LW"].str.strip("-,%")
Box_Office = df.drop("Theaters", axis=1)
'''

'Box_Office.drop(columns="Estimated")\nBox_Office.drop_duplicates()\nBox_Office.info()\nBox_Office.shape\nBox_Office["Change"].str.strip("-")\nBox_Office["%± LW"] = df["%± LW"].str.strip("-,%")\nBox_Office = df.drop("Theaters", axis=1)\n'

In [10]:
#I now want to rename the File:
#'C:/Users/Brian/Pratice on Class 4/Box_Office.xlsx'

In [12]:
Location_for_file_export1 = r'C:\Users\Brian\OneDrive\Desktop\Box_Office1.xlsx'
#df.to_csv(Location_for_file_export, index=False)

Location_for_file_export2 = teams
Box_Office.to_excel(Location_for_file_export2, index=False)

print("End: " + str(datetime.datetime.now().strftime("%I:%m %p")))

End: 10:08 PM